.active{
    background-color: #4CAF50;
    color: white;
    }
.numbers {
    list-style: none;
    display: flex;
      }

li {
  height: 15px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
      }
.paginatorBtn {
  background-color: transparent;
  border: none;
  color: rgb(3, 3, 3);
  cursor: pointer;
  height: 15px;
}
.paginatorBtn:hover {
    background-color: rgba(131, 131, 130, 0.37);
    color: rgb(107, 107, 107);
    z-index: 2;
  }