.dietList{
    display: grid;
    place-items: center;
    text-align: center;
    border: 1px solid coral;
}

.tag{
    padding: 1px;
    margin-left: 2px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    text-align: center;
    height: 250px;
    width: 90%;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
}

.recipeIMG{
  
    height: 231px;
    width: 312px;
}
.recipeInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px;
}